<!doctype>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en" ng-app="nameApp"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en" ng-app="nameApp"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en" ng-app="nameApp"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="nameApp">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Project - Page Title</title>
    <link href="favicon.ico" rel="icon" type="image/x-icon">

    <link rel="stylesheet" href="css/main.css" />

    <script src="js/lib/common/angular.js"></script>
    <script src="js/lib/common/modernizr.js"></script>
    <script src="js/app/main.js"></script>

    <meta name="viewport" content="width=device-width">
</head>
<body ng-controller="NameCtrl">

    <ul>
        <li ng-repeat="name in names">
            {{name}} <a href="#" ng-click="removeName(name)">remove</a>
        </li>
    </ul>
    <form ng-submit="addName()">
        <input type="text" ng-model="enteredName" value="">
        <input type="submit" value="add">
    </form>

</body>
</html>