<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
            	<remove value="index.shtml" />
                <add value="index.shtml" />
            </files>
        </defaultDocument>
	</system.webServer>
</configuration> 